*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    background-color:black;
}
.space
{
    margin-left: 20px;
}
.background
{
    background: url("page6.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}
.text
{
    margin-top: 45vh;
    flex: 1;
}
.box
{
    margin-top: 13vh;
    flex: 1;
}
.text
{
    margin-left: 10%;
    font-weight: 300px;
}
.box{
    margin-left: 35%;
}
.text h1{
    font-size: 70px;
    color: white;
    font-weight: 500;
}
.text p
{
    font-size: 20px;
    color: white;
    font-weight: 300;
}
.text p a
{
    color: white;
    font-weight: 700;
}
.form
{
    background: transparent;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input
{
    margin: 20px 0;
    padding:10px;
    background: transparent;
    border: none;
    outline:none ;
    color: white;
}
.username,.password,.fullname, .email
{
    border-bottom: 1px solid white ;
}
.button
{
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 18px;
}
.button:hover
{
    background: white;
    color: black;
}
.btnn{
    margin: 4px 13px;
    width: 65px;
    padding: 8px 8px;
    background-color: #007bff;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
  background-color: #007bff;
  border-color: #007bff;
}

.btnn:hover {
    color: white;
  background-color: #0069d9;
  border-color: #0062cc;
  text-decoration: none;
}

.btns
{
    margin: 4px 13px;
    width: 70px;
    padding: 8px 8px;
    background-color: #007bff;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #white;
  background-color: #28a745;
  border-color: #28a745;
}
.btns:hover
{
    color: white;
    text-decoration: none;
  background-color: #218838;
  border-color: #1e7e34;
}